page-cartazete-generator {

    ion-navbar{
      max-height: 150px;
    }
  #cartazete{

      max-height: 475px;max-width: 375px;display: block;margin: auto;
    }


    .idade {
      position: absolute;
      top: 160px;
      right: 50px;
      color: white;
    }
    .quando {
      position: absolute;
      top: 190px;
      right: 50px;
      color: white;
    }
    .local {
      position: absolute;
      top: 220px;
      right: 50px;
      color: white;
    }
    .foto{
      position: absolute;
      top: 150px;
      left: 80px;
      color: white;
    }
    .nome{
      position: absolute;
      top: 290px;
      left: 80px;
      color: white;
    }
    p.infodes{
      font-size: 8px;
    }

}
