
.page-search-option {
    background-color: #656262;
    color:#fff;
    font-weight: bold;
    
}

.menu {
    display:block !important;
}

.legenda{
    font-size: 18px;
    font-weight: bold;
}


.icone{
    max-height: 10%;
    max-width: 10%;
}

#lista{
    margin-left: 0;
    margin-top: 5%;
}

ion-item{
    margin-left: 5%;
}