page-list {
  background: url('../assets/img/logo-policia-civil.png');
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;

  .logo{
    position: fixed;
    z-index: -1;
  }
  .customIcon {
    
        font-size: 1.8em;
    }
}
