page-results {
    

}
.icones{
    // display:inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.icones li{
    float: left;
    padding-left: 8%;
    margin-left:12%; 
    margin-top: 3%;
}