
.page-contact {

  background: url('../assets/img/logo-policia-civil.png');
  background-color: white;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position-x: 50%;
  background-position-y: 50%;
  
  #icones li
  {
    display: inline;
    list-style-type: none;
    padding-right: 5%;
  }


  .logo{
    position: fixed;
    z-index: -1;
  }
  

  h3{
    text-align: center;
    font-variant: small-caps;
  }

  h4{
    text-align: center;
    font-variant: small-caps;
  }
  p{
    text-align: center;
    padding: 10px;
  }

}
