<<<<<<< HEAD
.page-home {
      background-color: #000000;

    h3{
    text-align: center;
    padding-bottom: 12px;
    color: white;
  }
=======
page-home {

>>>>>>> e5279926cd024a72d0d87c34c1bf58b044b454da
}
